@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #020617;
    --card: #ffffff;
    --card-foreground: #020617;
    --popover: #ffffff;
    --popover-foreground: #020617;
    --primary: #FF5050;
    --primary-foreground: #ffffff;
    --secondary: #f0f5fa;
    --secondary-foreground: #0f172a;
    --muted: #f0f5fa;
    --muted-foreground: #64748b;
    --accent: #f0f5fa;
    --accent-foreground: #0f172a;
    --destructive: #f04438;
    --destructive-foreground: #f8fafc;
    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #FF5050;
    --radius: 0.5rem;
  }

  .dark {
    --background: #121212;
    --foreground: #fafafa;
    --card: #1a1a1a;
    --card-foreground: #fafafa;
    --popover: #121212;
    --popover-foreground: #fafafa;
    --primary: #FF5050;
    --primary-foreground: #ffffff;
    --secondary: #262626;
    --secondary-foreground: #fafafa;
    --muted: #262626;
    --muted-foreground: #a6a6a6;
    --accent: #262626;
    --accent-foreground: #fafafa;
    --destructive: #7f1d1d;
    --destructive-foreground: #fafafa;
    --border: #333333;
    --input: #262626;
    --ring: #FF5050;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  }
}

